.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.Movie-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
}
.Movie-wrapper { 
  width: 500px;
  border-radius: 0.3em;
  font-weight:Bold;
  color:black;
  background-color: #34363b
}
.Movie-search {
  height: 48px;
  font-size: 24px;
  margin-bottom: 32px;
  padding:16px;
  font-weight: bold;
  width: 475px;
}
.Movie-title {
  margin-top: 15px;
  height: 55px;
  color: antiquewhite;
  
}

.Movie-data {
  color: antiquewhite;
  margin-top: 20px;
  font-style: italic;
  margin-top: 25px;
}

.Movie-rate {
  margin-bottom: 24px;
  font-weight:normal;
  font-size: 1em;
}
.Movie-rate .rating-text {
  color: rgb(148, 41, 41)
}